compile_commands.json

/.cache
/build
/build_win
/emsdk_local

/sdk/src/build/
/sdk/msbasic/tmp/
/tools/sid/build/
/tools/sid/__pycache__/

*.o
/sdk/src/build/*.bin
/sdk/src/build/*.map
/sdk/src/build/*.lst
/sdk/src/build/*.s
/sdk/src/build/*.lbl
/sdk/src/build/*.dbg
/sdk/src/build/*.cfg

SDK.zip
/output
